@using MnLab.PdfVisualDesign.ViewModels
@model PropertyBindViewModel
@{
    /*
    Script.Require("HB_CodeMirror_JS").AtFoot();
    Script.Require("HB_CodeMirror_HtmlMixed").AtFoot();

    Script.Require("HB_CodeMirror_Search").AtFoot();
    Script.Require("HB_CodeMirror_Search_Cursor").AtFoot();
    Script.Require("HB_CodeMirror_Search_MatchHighLight").AtFoot();
    Script.Require("HB_CodeMirror_Search_Dialog").AtFoot();
    Script.Require("HB_CodeMirror_Lint").AtFoot();
    Script.Require("jQueryUI_Tabs").AtHead();

    Style.Require("jQueryUI_Orchard").AtHead();

    Style.Require("HB_CodeMirror").AtHead();
    Style.Require("HB_CodeMirror_Lint").AtHead();
    Style.Require("HB_CodeMirror_MatchScrollbar").AtHead();
    Style.Require("HB_CodeMirror_Dialog").AtHead();

    Style.Include("EditorStyle.css");
    */

    var field = Model.Field;

}

<fieldset>
    <legend>Bind</legend>
    <div>
        @Html.LabelFor(x => x.Binding.ContentPartName)
        @Html.TextBoxFor(x => x.Binding.ContentPartName)
    </div>

    <div>

        @Html.LabelFor(x => x.Binding.MemberExpression)
        @Html.TextBoxFor(x => x.Binding.MemberExpression)
    </div>

    <div>

        @Html.LabelFor(x => x.Binding.DefaultValue)
        @Html.TextBoxFor(x => x.Binding.DefaultValue)
    </div>

</fieldset>


@if (Model.EditorShape != null)
{
    <fieldset>
        <legend>Value</legend>

        @{
            @*@Model.FieldDisplay*@
            //   var contentFieldShape = Model.FieldDisplay.BuildEditor(Model.Content, Model.Field);
            // @New.EditorTemplate(TemplateName: $"Elements.{nameof(PropertyBindElement)}", Model: viewModel);
            // @contentFieldShape


            //   @Display(contentFieldShape)

            @*var editors = Model.FieldDrivers;
                foreach (var item in editors)
                {
                    @Display(item)
                }*@

           // @Model.EditorShape

            @*@Display(Model.EditorShapeContext.Shape)*@
            // @Display(Model.EditorShape.Zones["1"])
            @Display(Model.EditorShape)



            // @Model.Field.Storage.get



            /*
            var editor = context.ShapeFactory.EditorTemplate(TemplateName: $"Elements.{nameof(PropertyBindElement)}", Model: viewModel);

             */
        }

        @*@Html.TextBoxFor(x => x.Value.Value)*@
    </fieldset>
}


@using (Script.Foot())
{
    <script type="text/javascript">
        $().ready(function () {

        });
    </script>
}