@using MnLab.PdfVisualDesign.ViewModels
@model PropertyBindViewModel
@{
    var field = Model.Field;
}

<fieldset>
    <legend>@T("Binding Setting")</legend>
    <div>
        <label for="@Html.FieldIdFor(x => x.Binding.ContentPartName)">@T("ContentPartName")</label>
        @*@Html.LabelFor(x => x.Binding.ContentPartName)*@
        @Html.TextBoxFor(x => x.Binding.ContentPartName)
    </div>

    <div>
        <label for="@Html.FieldIdFor(x => x.Binding.MemberExpression)">@T("FieldName")</label>
@*        @Html.LabelFor(x => x.Binding.MemberExpression)*@
        @Html.TextBoxFor(x => x.Binding.MemberExpression)
    </div>

    @*<div>
        @Html.LabelFor(x => x.Binding.DefaultValue)
        @Html.TextBoxFor(x => x.Binding.DefaultValue)
    </div>*@

</fieldset>


@if (Model.EditorShape != null)
{
    <fieldset>
        <legend>@T("Value Edit")</legend>
        @{
            @*@Model.FieldDisplay*@
            //   var contentFieldShape = Model.FieldDisplay.BuildEditor(Model.Content, Model.Field);
            // @New.EditorTemplate(TemplateName: $"Elements.{nameof(PropertyBindElement)}", Model: viewModel);
            // @contentFieldShape


            //   @Display(contentFieldShape)

            @*var editors = Model.FieldDrivers;
                foreach (var item in editors)
                {
                    @Display(item)
                }*@

            // @Model.EditorShape

            @*@Display(Model.EditorShapeContext.Shape)*@
            // @Display(Model.EditorShape.Zones["1"])
            @Display(Model.EditorShape)



            // @Model.Field.Storage.get



            /*
            var editor = context.ShapeFactory.EditorTemplate(TemplateName: $"Elements.{nameof(PropertyBindElement)}", Model: viewModel);

             */
        }

        @*@Html.TextBoxFor(x => x.Value.Value)*@
    </fieldset>
}


@using (Script.Foot())
{
    @*if (Model.Context.Updater!=null)
        {
            <script type="text/javascript">
                alert(11);
                $().ready(function () {

                });
            </script>
        }*@
}
